torch
torchaudio
fastapi~=0.111.0
uvicorn~=0.30.0
openai-whisper==20240930
regex~=2024.4.16
pyannote.audio==3.1.1
huggingface_hub~=0.23.0
scikit-learn~=1.4.2
pydub~=0.25.1
google-generativeai==0.8.5
protobuf~=4.25.3
pydantic~=2.6.4
playwright
python-dotenv~=1.0.1
psycopg2-binary~=2.9.9
supabase~=1.0.3
numpy==1.26.4
ffmpeg-python